<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfmes.sunshine.dao.DeptDao">

    <select id="findByDeptId" resultType="com.hfmes.sunshine.domain.Dept">
        select *
        from T_Dept
        where DeptId = #{deptId}
    </select>
</mapper>