<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfmes.sunshine.dao.DevcDao">

    <resultMap id="DevcResult" type="com.hfmes.sunshine.domain.Devc">
        <result property="deviceId" column="DevcId"/>
        <result property="deptId" column="DeptId"/>
        <result property="title" column="Title"/>
        <result property="type" column="Type"/>
        <result property="buyTime" column="BuyTime"/>
        <result property="status" column="Status"/>
        <result property="memo" column="Memo"/>
        <result property="taskId" column="TaskId"/>
        <result property="taskSetDate" column="TaskSetDate"/>
        <result property="mldStatus" column="MldStatus"/>
        <result property="weightTun" column="WeightTun"/>


        <association property="dept" select="com.hfmes.sunshine.dao.DeptDao.findByDeptId"
                     javaType="com.hfmes.sunshine.domain.Dept" column="DeptId"/>

        <association property="task" select="com.hfmes.sunshine.dao.TaskDao.findByTaskId" column="TaskId"
                     javaType="com.hfmes.sunshine.domain.Task"/>

    </resultMap>

    <select id="findByDeviceId" resultMap="DevcResult">
        select *
        from T_Devc
        where DevcId = #{deviceId}
    </select>

    <select id="findAll" resultMap="DevcResult">
        select *
        from T_Devc
    </select>
    <select id="getStatusByDeviceId" resultType="com.hfmes.sunshine.enums.DeviceStatus">
        select status
        from T_Devc
        where DeptId = #{deviceId}
    </select>

</mapper>