<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfmes.sunshine.dao.DicTypeDao">

    <resultMap id="DicTypeResult" type="com.hfmes.sunshine.domain.DicType">
        <result property="dicTypeId" column="dic_type_id"/>
        <result property="title" column="title"/>
        <result property="code" column="code"/>
        <result property="memo" column="memo"/>
    </resultMap>

    <select id="findById" resultMap="DicTypeResult">
        select *
        from T_DicType
        where dic_type_id = #{title}
    </select>

    <select id="findByCode" resultType="com.hfmes.sunshine.domain.DicType">
        select *
        from T_DicType type
        where type.code = #{code}
    </select>

</mapper>