<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfmes.sunshine.dao.SCOptCondDao">

    <select id="getValueByOptIdAndConditionId" resultType="java.lang.Boolean">
        select oc.Value
        from T_SCOptCond oc
        where SCOptionId = #{optId} and SCConditionId = #{conditionId}
    </select>

    <select id="findByOptionIdAndCondIdAndValue" resultType="com.hfmes.sunshine.domain.SCOptCond">
        select *
        from T_SCOptCond
        where SCOptionId = #{opId} and SCConditionId = #{condId} and Value = #{value};
    </select>
</mapper>