<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfmes.sunshine.dao.SCOptionDao">

    <select id="findBySCOptionId" resultType="com.hfmes.sunshine.domain.SCOption">
        select *
        from T_SCOption
        where scOptionId = #{title}
    </select>

    <select id="findByRoleId" resultType="com.hfmes.sunshine.domain.SCOption">
        select *
        from T_SCOption
        where RoleId = #{roleId}
    </select>

    <select id="findByCardNoAndStatus" resultType="com.hfmes.sunshine.domain.SCOption">
        select null
        /*        select op.*
                from T_SCOption op
                    join T_Role role on op.RoleId = role.RoleId
                    join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
                where role.RoleId in (select role1.RoleId
                                      from T_Role role1
                                          join T_UserRole userRole on role1.RoleId = userRole.RoleId
                                          join T_Person person on person.PersonId = userRole.UserId
                                      where person.CardNo = #{cardNo})

                intersect

                select op.*
                from T_SCOption op
                    join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
                where (statusChg.DicType = 'SD' and
                       (statusChg.CurStatusCode = #{deviceStatus} or statusChg.CurStatusCode is null))

                intersect

                select op.*
                from T_SCOption op
                    join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
                where (statusChg.DicType = 'SM' and (statusChg.CurStatusCode = #{mldStatus} or statusChg.CurStatusCode is null))

                intersect

                select op.*
                from T_SCOption op
                    join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
                where
                    (statusChg.DicType = 'ST' and (statusChg.CurStatusCode = #{taskStatus} or statusChg.CurStatusCode is null))*/
    </select>

    <select id="findByCardNo" resultType="com.hfmes.sunshine.domain.SCOption">
        select op.*
        from T_SCOption op
            join T_Role role on op.RoleId = role.RoleId
            join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
        where role.RoleId in (select role1.RoleId
                              from T_Role role1
                                  join T_UserRole userRole on role1.RoleId = userRole.RoleId
                                  join T_Person person on person.PersonId = userRole.UserId
                              where person.CardNo = #{cardNo})
    </select>

    <select id="findBySDStatus" resultType="com.hfmes.sunshine.domain.SCOption">
        select op.*
        from T_SCOption op
            join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
        where (statusChg.DicType = 'SD' and
               (statusChg.CurStatusCode = #{deviceStatus} or statusChg.CurStatusCode is null))
    </select>
    <select id="findBySMStatus" resultType="com.hfmes.sunshine.domain.SCOption">
        select op.*
        from T_SCOption op
            join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
        where (statusChg.DicType = 'SM' and (statusChg.CurStatusCode = #{mldStatus} or statusChg.CurStatusCode is null))
    </select>

    <select id="findBySTStatus" resultType="com.hfmes.sunshine.domain.SCOption">
        select op.*
        from T_SCOption op
            join T_SCStatusChg statusChg on op.SCOptionId = statusChg.SCOptionId
        where
            (statusChg.DicType = 'ST' and (statusChg.CurStatusCode = #{taskStatus} or statusChg.CurStatusCode is null))
    </select>

    <select id="findAll" resultType="com.hfmes.sunshine.domain.SCOption">
        select *
        from T_SCOption
    </select>
</mapper>