<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfmes.sunshine.dao.SCOptionDao">

    <select id="findBySCOptionId" resultType="com.hfmes.sunshine.domain.SCOption">
        select *
        from T_SCOption
        where scOptionId = #{id}
    </select>

    <select id="findByRoleId" resultType="com.hfmes.sunshine.domain.SCOption">
        select *
        from T_SCOption
        where RoleId = #{roleId}
    </select>
</mapper>