<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfmes.sunshine.dao.StatusDataDao">

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="statusDataId"
            parameterType="com.hfmes.sunshine.domain.StatusData" keyColumn="StatusDataId">
        insert into T_StatusData (StatusTypeId, CurStatus, NextStatus, Start, Stop, Hold, Count,
                                  EventType, EventName, OpId, DevId, TaskId, MdlId)
        VALUES
            (#{statusTypeId}, #{curStatus}, #{nextStatus}, #{start}, #{stop}, #{hold}, #{count},
                              #{eventType}, #{eventName}, #{opId}, #{devId}, #{taskId}, #{mldId})

    </insert>

    <update id="updateEndAdnHold">
        update T_StatusData
        set Stop = #{stop}, Hold = #{hold}, Count = #{count}
        where StatusDataId = #{statusDataId}
    </update>

    <select id="findByDevcIdAndTypeTop1" resultType="com.hfmes.sunshine.domain.StatusData">
        select top 1 *
        from T_StatusData sd
        where sd.DevId = #{devcId} and sd.StatusTypeId = #{statusTypeId} and sd.Stop is null
        order by sd.Start desc
    </select>
</mapper>